.box1 .box-title { /*【span】タイトル部分*/
    position: absolute; /*必須*/
    top: 0; /*囲み枠の上にぴったりくっつく*/
    left: 0; /*囲み枠の左にぴったりくっつく*/
    background: gold; /*背景色*/
    line-height: 32px; /*行の高さ*/  
    padding: 0 15px; /*左右の余白*/
    border-radius: 12px 0 12px 0; /*角丸（左上12px 右上0 右下12px 左下0）*/
    font-weight: bold; /*フォント太字*/
    font-size:larger;
}
.box1 { /*【div】囲み枠部分*/
    position: relative; /*必須*/
    margin: 0px 0px; /*外側の余白*/
    padding: 48px 16px 16px; /*内側の余白*/
    border: 5px solid gold; /*枠線*/
    border-radius: 15px 0 15px 0; /*角丸（左上15px 右上0 右下15px 左下0）*/
    width:600px;
    height:250px;
}
.box2 .box2-title { /*【span】タイトル部分*/
    position: absolute; /*必須*/
    top: 0; /*囲み枠の上にぴったりくっつく*/
    left: 0; /*囲み枠の左にぴったりくっつく*/
    background: rgb(255, 126, 249); /*背景色*/
    line-height: 32px; /*行の高さ*/  
    padding: 0 15px; /*左右の余白*/
    border-radius: 12px 0 12px 0; /*角丸（左上12px 右上0 右下12px 左下0）*/
    font-weight: bold; /*フォント太字*/
    font-size:larger;
}
.box2 { /*【div】囲み枠部分*/
    position: relative; /*必須*/
    margin: 0px 0px; /*外側の余白*/
    padding: 48px 16px 16px; /*内側の余白*/
    border: 5px solid rgb(255, 126, 249); /*枠線*/
    border-radius: 15px 0 15px 0; /*角丸（左上15px 右上0 右下15px 左下0）*/
    width:600px;
    height:250px;
}
a.btn--brue {
    color: #fff;
    background-color: #4d5bec;
    font-size: 1.6rem;
    position: relative; 
    margin-left: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--green {
    color: #fff;
    background-color: #47ff4a;
    font-size: 1.6rem;
    position: relative; 
    margin-left: 25px;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--radius {
    border-radius: 100vh;
}

.body h{
    font-size: larger;
    font-weight: bolder;
}

.img{
    height: 80%;
    touch-action: manipulation;
}
