#space{height:500px;}
a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    font-size: 1.6rem;
    position: absolute; 
    left: 15%; 
    top: 80%;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--brue {
    color: #fff;
    background-color: #7349ff;
    font-size: 1.6rem;
    position: absolute; 
    left: 15%; 
    top: 80%;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--green {
    color: #fff;
    background-color: #47ff4a;
    font-size: 1.6rem;
    position: absolute; 
    left: 15%; 
    top: 90%;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--radius {
    border-radius: 100vh;
}
