#background{
    background-image: url("../menu_img.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    width:700px;
    height:630px;
    display:  table-cell;       /* テーブルセルにする */
    vertical-align:  middle;
    position: absolute;
}
a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    font-size: 1.6rem;
    position: absolute; 
    left: 40%; 
    top: 60%;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--radius {
    border-radius: 100vh;
}

a.btn--brue {
    color: #fff;
    background-color: #4d5bec;
    font-size: 1.6rem;
    position: absolute; 
    left: 40%; 
    top: 75%;
    width: 9rem;
    text-align: center;
    text-decoration:none;
}
a.btn--radius {
    border-radius: 100vh;
}
